<div class="container-custom-manue">
  <div>
    <label class="titre-custom-manue" for="category">
      <h1>Chosissez une catégorie pour lancer votre Quiz</h1></label
    >
    <p class="container-custom-manue">
      <select
        class="select-custom-manue"
        id="category"
        [(ngModel)]="selectedOption"
        name="category"
      >
        <option *ngFor="let option of options" [value]="option">
          {{ option }}
        </option>
      </select>
      <button class="button-custom-manue" (click)="onSubmit()">OK</button>
    </p>
  </div>
</div>
