.container-question {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 20px 0;
        justify-content: center;
        align-items: center;
}

.categorie-question {

        margin-left: 50px;
        display: flex;
        font-weight: bold;
        font-size: x-large ;
}

.titre-question {
        margin-bottom: 60px;
     }

.button-question {
    margin-top: 20px;
}

input {
        text-align: center;
        font-size: x-large;
        background-color: #E5D2F8;
}

.question {
    background-color: #B89BBA;
  }

  
.container-custom-manue {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .titre-custom-manue {
    display: flexbox;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 50px;
  }
  
  .background-custom-manue{
    background: #B89BBA;
  }
  
  
  .container-custom-manue {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .select-custom-manue {
    margin: 10px;
    margin-top: 20 px;
    width: 200px;
    height: 30px;
  }
  