<div>
    <p class="categorie-question"> Cinéma</p>
    <h3 class="titre-custom-manue titre-question">Question 1 - En quelle année est sorti le film “La vie est belle” ?</h3>
    <div class="container-question">
      <p> <input type="text" id="champ1" placeholder="A - 1998"> </p>
      <p> <input type="text" id="champ2" placeholder="B - 2000"> </p>
      <p> <input type="text" id="champ3" placeholder="C - 1985"> </p>
      <p> <input type="text" id="champ4" placeholder="D - 2010"> </p>
      <p> <button class="button-question" onclick="valider()">Valider</button></p>
    </div>
  </div>
  
