<div class="background-custom-manue element-style">
    <div>
    <style>
        .option-input {
            cursor: pointer;
            padding: 5px 10px;
            transition: background-color 0.3s ease;
            background-color: #f2f2f2;
            color: #333;

        }

        .option-input:hover {
            background-color: #E5D2F8;
        }

        .option-input:active {
            background-color: #9987B7;
        }
    </style>
<div>
    <p class="categorie-question">Cinéma</p>
    <h3 class="titre-custom-manue titre-question">Question 1 - En quelle année est sorti le film “La vie est belle” ?</h3>
    <div class="container-question">
        <p class="span-size" (click)="selectOption('1998')"><span id="option1" class="option-input" readonly>A - 1998</span></p>
        <p  class="span-size" (click)="selectOption('2000')"><span id="option2" class="option-input" readonly>B - 2000</span></p>
        <p  class="span-size" (click)="selectOption('1985')"><span id="option3" class="option-input" readonly>C - 1985</span></p>
        <p  class="span-size" (click)="selectOption('2010')"><span id="option4" class="option-input" readonly>D - 2010</span></p>
        <p><button (click)="valider()">Valider</button></p>
    </div>
</div>

</div>
  
