.container-question {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 20px 0;
        justify-content: center;
        align-items: center;
}

.element-style {
  height: 90vh;
}

.categorie-question {

        margin-left: 50px;
        display: flex;
        font-weight: bold;
        font-size: x-large ;
}

.titre-question {
        margin-bottom: 60px;
     }

.button-question {
    margin-top: 20px;
}

span {
        text-align: center;
        font-size:large;
        background-color: #E5D2F8;
}

.span-size {
  height: max-content;
  width: max-content;
}

.question {
    background-color: #B89BBA;
  }

  
.container-custom-manue {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .titre-custom-manue {
    display: flexbox;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 50px;
  }
  
  .background-custom-manue{
    background: #B89BBA;
  }
  
  
  .container-custom-manue {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .select-custom-manue {
    margin: 10px;
    margin-top: 20 px;
    width: 200px;
    height: 30px;
  }
  
  button {
    margin-top: 10px;
    background-color: #B89BBA;
  }

  .selected {
    background-color: #9987B7;
}


div label input {
  margin-right:100px;
}

.ck {
   margin:4px;
   background-color:#EFEFEF;
   border-radius:4px;
   border:1px solid #D0D0D0;
   overflow:auto;
   float:left;
   height: max-content;
   width: max-content;
}

.ck:hover {
   background:#9987B7;
}

.ck label {
   cursor: pointer;
   padding: 5px 10px;
   transition: background-color 0.3s ease;
   background-color: #EFEFEF;
   border-radius: 4px;
   border: 1px solid #D0D0D0;
}

.ck label span {
   text-align:center;
   padding:3px 0px;
   display:block;
}

.ck label input {
   position:absolute;
   top:-20px;
}

.ck input:checked + span {
   background-color:#9987B7;
   color:#fff;
}

.ck input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.hidden {
 position: absolute;
 visibility: hidden;
 opacity: 0;
}

input[type=checkbox]+label {
 color: black;
 font-weight:normal;
}

input[type=checkbox]:checked+label {
 color: black;
 font-weight: bold;
 background-color: #9987B7;
}