<nav class="navbar shadow sticky-top p-0 w-100">
  <div class="navbar-size d-flex w-100">
    <a class="navbar-brand"
      ><img src="../../../assets/logo.jpg" class="logo"
    /></a>
    <div class="w-100" id="navbarNav">
      <ul class="navbar w-75 justify-content-between">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            [routerLink]="['']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >HOME</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['quiz']" routerLinkActive="active"
            >PLAY</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['admin']" routerLinkActive="active"
            >ADMIN</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['myStats']"
            routerLinkActive="active"
            >STATS</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
