/*{ border: inset 1px red;}*/
.navbar {
  background-color: #9987b7;
  font-weight: bold;
}

.navbar-size {
    
  width: 100px;
  height: 10vh;
}

.logo {
  width: 120px;
  height: 100%;
}

.navbar-brand {
  height: 100%;
  padding: 0;
}

ul {
  list-style: none;
  padding-bottom:auto;
  padding-bottom: auto;
}

