.button {
    border-color: 9987B7;
    border-radius: 5px;
    background-color: 9987B7;
}

.titre {
    display: flexbox;
    flex-wrap: wrap;
    margin-bottom: 10px;
    text-align: center;
    margin-top : 50px;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    background-color: B89BBA;
}


.select {
    margin: 10px;
    margin-top: 20 px;
    width: 200px;
    height: 30px;
}