<form
  (ngSubmit)="onSubmitForm()"
  [formGroup]="formQuestion"
  class="w-25 container"
>
  <div class="mb-3">
    <label for="input-question" class="form-label">Question</label>
    <input
      type="text"
      formControlName="libelle"
      id="input-question"
      class="form-control"
    />
  </div>

  <div class="mb-3">
    <label for="input-reponse1" class="form-label pe-3">Réponse 1</label>
    <input
      type="radio"
      id="bonneRep1"
      name="bonneReponse"
      #rep1
      [value]="'reponse1'"
      formControlName="bonneReponse"
    />
    <label
      for="bonneRep1"
      class="form-label"
      [ngClass]="{
        'btn-success': rep1.checked,
        'btn-secondary': !rep1.checked
      }"
      >{{ rep1.checked ? "Bonne réponse" : "Mauvaise réponse" }}</label
    >
    <input
      type="text"
      formControlName="reponse1"
      id="input-reponse"
      class="form-control"
    />
  </div>

  <div class="mb-3">
    <label for="input-reponse2" class="form-label pe-3">Réponse 2</label>
    <input
      type="radio"
      id="bonneRep2"
      name="bonneReponse"
      #rep2
      [value]="'reponse2'"
      formControlName="bonneReponse"
    />
    <label
      for="bonneRep2"
      class="form-label"
      [ngClass]="{
        'btn-success': rep2.checked,
        'btn-secondary': !rep2.checked
      }"
      >{{ rep2.checked ? "Bonne réponse" : "Mauvaise réponse" }}</label
    >
    <input
      type="text"
      formControlName="reponse2"
      id="input-reponse2"
      class="form-control"
    />
  </div>

  <div class="mb-3">
    <label for="input-reponse3" class="form-label pe-3">Réponse 3</label>
    <input
      type="radio"
      id="bonneRep3"
      name="bonneReponse"
      #rep3
      [value]="'reponse3'"
      formControlName="bonneReponse"
    />
    <label
      for="bonneRep3"
      class="form-label"
      [ngClass]="{
        'btn-success': rep3.checked,
        'btn-secondary': !rep3.checked
      }"
      >{{ rep3.checked ? "Bonne réponse" : "Mauvaise réponse" }}</label
    >
    <input
      type="text"
      formControlName="reponse3"
      id="input-reponse3"
      class="form-control"
    />
  </div>

  <div class="mb-3">
    <label for="input-reponse4" class="form-label pe-3">Réponse 4</label>
    <input
      type="radio"
      id="bonneRep4"
      name="bonneReponse"
      #rep4
      [value]="'reponse4'"
      formControlName="bonneReponse"
    />
    <label
      for="bonneRep4"
      class="form-label"
      [ngClass]="{
        'btn-success': rep4.checked,
        'btn-secondary': !rep4.checked
      }"
      >{{ rep4.checked ? "Bonne réponse" : "Mauvaise réponse" }}</label
    >

    <input
      type="text"
      formControlName="reponse4"
      id="input-reponse4"
      class="form-control"
    />
  </div>
  <div>
    <button class="btn btn-dark" type="submit">Valider</button>
    <button class="btn btn-dark" [routerLink]="[path, id]">Annuler</button>
  </div>
</form>
